html{
    background-color: black;
}
body{
    background-color: lightgray;
}
.card{
    padding: 20px;
    text-align: center;
}
.pesquisa{
    padding: 20px;
    text-align: center;
}
input{
    margin-top: 35px;
}
label{
    font-size:30px;
}